* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --black: black;
    --green: #bbf6bb;
}

a {
    text-decoration: none;
    color: var(--green);
}

.title {
    border-radius: 2px;
}

/* .nav-link {
    text-decoration: none;
    color: var(--green);
    transition: color .1s;
}

.nav-link:hover {
    color: var(--green);
} */

/* a {
    text-decoration: none;
    color: var(--d-green);
    font-weight: bold;
    transition: color .1s;
}

a:hover {
    color: var(--d-green);
}

body {
    background-color: var(--green);
} */